<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Day12 Project</title>
    <link rel="stylesheet" type="text/css" href="Assets/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
</head>

<body>
    <header>
        <h1>Epilogue</h1>
        <!-- <hr> -->
        <p>A FREE RESPONSIVE SITE TEMPLATE BY TEMPLATED</p>
    </header>

    <main>
        <!-- section1 -->
        <section class="section1">
            <div class="circle">
                <i class="far fa-gem fa-3x gem gem1"></i>
            </div>
            <div class="text1">
                <h1>MAGNA PORTA MAXIMUS</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis soluta magnam dicta ad, nulla
                    pariatur delectus ipsum eligendi voluptatum explicabo, cumque at reprehenderit quisquam repellat,
                    neque a. Explicabo, eveniet accusamus!</p>
            </div>
            <button class="btn">Learn more</button>
        </section>a
        <!-- SECTION 2 -->
        <section class="section2">
            <div class="fixed">
                <div class="overflow">
                    <div class="col col-1">
                        <h4>Random</h4>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla adipisci commodi vitae? Dolorem
                            similique itaque, odio eum consequatur possimus quasi cumque recusandae impedit! Ratione sed
                            illo omnis consequuntur, veniam voluptate.</p>
                        <button class="btn">MORE</button>
                    </div>
                </div>   
            </div><!--
            --><div class="fixed">
                <div class="col col-2">
                    <h4>Random</h4>
                </div>
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla adipisci commodi vitae? Dolorem
                        similique itaque, odio eum consequatur possimus quasi cumque recusandae impedit! Ratione sed
                        illo omnis consequuntur, veniam voluptate.</p>
                    <button class="btn">MORE</button>
                </div>
            </div><!--
            --><div class="fixed">
                <div class="col col-3">
                    <h4>Random</h4>
                </div>
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla adipisci commodi vitae? Dolorem
                        similique itaque, odio eum consequatur possimus quasi cumque recusandae impedit! Ratione sed
                        illo omnis consequuntur, veniam voluptate.</p>
                    <button class="btn">MORE</button>
                </div>
            </div><!--
            --><div class="fixed">
                <div class="col col-4">
                    <h4>Random</h4>
                </div>
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla adipisci commodi vitae? Dolorem
                        similique itaque, odio eum consequatur possimus quasi cumque recusandae impedit! Ratione sed
                        illo omnis consequuntur, veniam voluptate.</p>
                    <button class="btn">MORE</button>
                </div>
            </div>
        </section>
    </main>
    <footer>
      <div class="footer">  
        <h2>ETIAM VEROEROS LOREM</h2>
        <p>Phasellus ac augue ac magna auctor tempus proin
            accumsan lacus a nibh commodo in pellentesque dui
            in hac habitasse platea dictumst.</p>
        <button class="btn">Get Started</button>
      </div>
     <div class="icon-container">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
     </div> 
    </footer>
</body>

</html>