<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Day14 Project</title>
    <link rel="stylesheet" type="text/css" href="Assets/Stylesheets/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
</head>
<header class="wrapper">
    <img src="Assets/Media/demo.gif" alt="">
    <div class="topnav-right">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Work</a>
        <a href="#">Contact</a>
    </div>
</header>
<main>
    <!-- image section -->
    <div class="wrapper">
        <img src="Assets/Media/kaws.jpg" alt="">
    </div>
    <!-- content section-->
    <section class="wrapper">
        <div class="left col-1">
            <h2>Main Section</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. In distinctio aliquid, temporibus,
                consequuntur soluta nobis iure ipsam quae magni, consequatur modi optio omnis at pariatur? Officia sunt
                iusto doloribus. Explicabo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi dolor nobis
                consequuntur minus eaque commodi nemo explicabo dolorum molestias, ipsa facilis natus. Aperiam
                voluptatibus quis praesentium minus! Quo, laudantium ipsum!</p>
        </div>
        <div class="right col-2">
            <h2>Sub-section</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi dolor nobis consequuntur minus eaque
                commodi nemo explicabo dolorum molestias, ipsa facilis natus. Aperiam voluptatibus quis praesentium
                minus! Quo, laudantium ipsum! Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
        </div>
    </section>
</main>