/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* main css */

main{
	text-align:center;
}

h1{
    font-weight: bold;   
}

.box{
    width:250px;
    height:250px;
    background-color: rgb(0, 255, 157);
    padding: 20px;
    border: 20px solid #00f;
    margin: 0 auto;
}
.container{
    display: inline-block;
    padding: 25px;
    background-color: palevioletred;
}
.container1{
    display: inline-block;
    padding: 25px;
    background-color: black;
} 

.legend-menu{
    margin:20px;
}    
.legend-name{
    display: inline-block;
    margin-left:5px;
    margin-right:20px;
    font-size: 30px;

}    
.legend-circle{
    display: inline-block;
    height:20px;
    width:20px;
    border-radius: 50%;
    background: lightcoral;
    /* margin-right:5px; */
}   

.circle1{
    background: black;
}
.circle2{
    background:#bada55;
}
.circle3{
    background:aqua;
}