/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* main css */

/* .background{
	position: relative;
	background-image: url("Assets/Media/wallpaper2you_444286.jpg");
} */

body{
    background-image: url("../Assets/Media/wallpaper2you_444286.jpg");
}

.section1{
   position: relative;
   padding-left: 250px;
   padding-top:100px;
}

.box1{
	position: relative;
	/* z-index: 1; */
	display: inline-block;
	height:100px;
	width:200px;
	background: pink;
	margin: 10px;
	border-radius: 10px;
}

.grad1{
	background: linear-gradient(to right bottom, pink, #d31d5a);
}
.grad2{
	background: radial-gradient(pink 50%, #da32be);
}

p{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
/* .box4text{
	position: relative;
	top: 50%;
	left:50%;
} */

.box2{
	position: relative;
	display: inline-block;
	height:200px;
	width:650px;
	border-radius: 10px;
	background-image:linear-gradient(to right bottom, rgba(256, 256, 256, 0.0), rgba(255, 63, 0, 0.6) 80%), url("../Assets/Media/4493474-hd-wallpapers-1080p.jpg");

}