<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Day21 Project</title>
    <link rel="stylesheet" type="text/css" href="Assets/Stylesheets/main.css">
</head>
<header></header>
<main>
    <!-- top -->
    <section class="wrapper">
        <div class='menu-container'>
            <div class='menu'>
                <div class=''>Jackets</div>
                <div class='left'>
                    <div class='left1'>Filter by</div>
                    <div class='left2'>Sort by</div>
                </div>
            </div>
        </div>
    </section>
    <!-- hero -->
    <section class="wrapper">
        <div class=container>
            <div class="item item1">
                <img src="Assets/Media/Oksale TOP Fashion Mens Slim Designed Lapel Cardigan Coat Jacket_ Amazon.in_ Clothing & Accessories_files/51a82aq-oIL._UL1060_.jpg"
                    alt="">
                <h1>Winter Jacket</h1>    
            </div>
            <div class="item item2">
                <img src="Assets/Media/Oksale TOP Fashion Mens Slim Designed Lapel Cardigan Coat Jacket_ Amazon.in_ Clothing & Accessories_files/51a82aq-oIL._UL1060_.jpg"
                    alt="">
                <h1>Winter Jacket</h1>    
            </div>
            <div class="item item3">
                <img src="Assets/Media/Oksale TOP Fashion Mens Slim Designed Lapel Cardigan Coat Jacket_ Amazon.in_ Clothing & Accessories_files/51a82aq-oIL._UL1060_.jpg"
                    alt="">
                <h1>Winter Jacket</h1>    
            </div>
            <div class="item item4">
                <img src="Assets/Media/Oksale TOP Fashion Mens Slim Designed Lapel Cardigan Coat Jacket_ Amazon.in_ Clothing & Accessories_files/51a82aq-oIL._UL1060_.jpg"
                    alt="">
                <h1>Winter Jacket</h1>    
            </div>
            <div class="item item5">
                <img src="Assets/Media/Oksale TOP Fashion Mens Slim Designed Lapel Cardigan Coat Jacket_ Amazon.in_ Clothing & Accessories_files/51a82aq-oIL._UL1060_.jpg"
                    alt="">
                <h1>Winter Jacket</h1>     
            </div>
            <div class="item item6">
                <img src="Assets/Media/Oksale TOP Fashion Mens Slim Designed Lapel Cardigan Coat Jacket_ Amazon.in_ Clothing & Accessories_files/51a82aq-oIL._UL1060_.jpg"
                    alt="">
                <h1>Winter Jacket</h1>     
            </div>
            <div class="item item7">
                <img src="Assets/Media/Oksale TOP Fashion Mens Slim Designed Lapel Cardigan Coat Jacket_ Amazon.in_ Clothing & Accessories_files/51a82aq-oIL._UL1060_.jpg"
                    alt="">
                <h1>Winter Jacket</h1>     
            </div>
            <div class="item item8">
                <img src="Assets/Media/Oksale TOP Fashion Mens Slim Designed Lapel Cardigan Coat Jacket_ Amazon.in_ Clothing & Accessories_files/51a82aq-oIL._UL1060_.jpg"
                    alt="">
                <h1>Winter Jacket</h1>     
            </div>
            <div class="item item8">
                <img src="Assets/Media/Oksale TOP Fashion Mens Slim Designed Lapel Cardigan Coat Jacket_ Amazon.in_ Clothing & Accessories_files/51a82aq-oIL._UL1060_.jpg"
                    alt="">
                <h1>Winter Jacket</h1>     
            </div>
            <div class="item item8">
                <img src="Assets/Media/Oksale TOP Fashion Mens Slim Designed Lapel Cardigan Coat Jacket_ Amazon.in_ Clothing & Accessories_files/51a82aq-oIL._UL1060_.jpg"
                    alt="">
                <h1>Winter Jacket</h1>     
            </div>
        </div>
    </section>
</main>

</html>